<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--mybatis使用dom4j进行xml解析-->

<configuration>

    <!--指定jdbc配置文件-->
    <properties resource="jdbcConfig.properties"/>
    <settings>
        <setting name="logImpl" value="LOG4J2" />
    </settings>

    <typeAliases>
        <typeAlias type="account.User" alias="user"/>

        <package name="account"/>
    </typeAliases>

    <environments default="mysql">
    <environment id="mysql">
        <transactionManager type="JDBC"/>
        <dataSource type="POOLED">
            <property name="driver" value="${jdbc.driver}"/>
            <property name="url" value="${jdbc.url}"/>
            <property name="username" value="${jdbc.user}"/>
            <property name="password" value="${jdbc.password}"/>

        </dataSource>
    </environment>
</environments>

    <!--通过注解设定查询语句，可以有多个指向，mapper指向接口类的全类名-->
    <!--class指向接口类文件,resource指向xml文件(可能)-->
    <mappers>
<!--        <mapper class="annotation.dao.IUserDao"/>-->
        <!--或者使用package指定路径-->
        <package name="annotation.dao"/>
    </mappers>



</configuration>