<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--通过xml来配置mybatis-->
<!--本练习跳过从实现类（而非接口）执行sql语句的方法-->
<configuration>
  <!--当需要引用外部路径时,需要在标签内设置resource的值,properties必须在首,xml规定了顺序-->
  <!--url也可以使用文件协议的绝对路径
      file:///E:/Code/MyBatis_Project/MyBatis_Project_01_QuickStart/src/main/resources/jdbcConfig.properties-->
  <properties resource="jdbcConfig.properties">
    <!--        &lt;!&ndash;可以在其中配置各项数据库的值property,则dataSource的value需要指向此处的name(driver)&ndash;&gt;-->
    <!--        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->

    <!--此处使用外部文件jdbcConfig-->
  </properties>


  <!--配置log4j-->
  <settings>
    <setting name="logImpl" value="LOG4J2"/>
  </settings>

  <!--设置别名,为mapper.xml提供功能-->
  <typeAliases>
    <!--typeAlias对应单个javabean,type为Javabean的全类名,alias为别名(不区分大小写)-->
    <typeAlias type="com.example.mybatis.quickstart.entity.User" alias="user"/>

    <!--或者扫描整个包内的JavaBean,别名默认为JavaBean的非限定类名(不区分大小写)(较常用)-->
    <package name="com.example.mybatis.quickstart.entity"/>
  </typeAliases>


  <!--配置环境-->
  <!--此处default可自由定义名称，但必须与下方environment id相同-->
  <environments default="mysql">
    <!--配置mysql数据库环境-->
    <environment id="mysql">
      <!--配置事务类型-->
      <transactionManager type="JDBC"/>
      <!--配置连接池-->
      <!--type有三种类型
          POOLED:采用连接池
          UNPOOLED:传统的SQL连接方式,未使用连接池
          JNDI:使用服务器提供的连接方式(必须使用在服务器上)(拓展内容)
          实际上mybatis底层自动创建了连接池
      -->
      <dataSource type="POOLED">
        <!--可以使用填入数据信息-->
        <!--        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
        <!--        <property name="url" value="jdbc:mysql://localhost:3306/mybatis?serverTimezone=UTC"/>-->
        <!--        <property name="userName" value="root"/>-->
        <!--        <property name="password" value="111111"/>-->

        <!--也可以调用外部配置,需要在<properties resource="jdbcConfig.properties">中注明-->
        <!--name映射的是mybatis中的key,value使用ognl表达式${}映射mysql的key-->
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>

  <!--指定映射配置文件位置-->
  <mappers>
    <!--每个mapper需要独立配置-->
    <mapper resource="mapper/mybatisMapper.xml"/>
    <!--也可以扫描指定路径下的所有mapper,使用别名标签<package>-->
<!--    <package name="com.example.mybatis.quickstart.mapper.xml"/>-->
  </mappers>
</configuration>