<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--本练习跳过从实现类（而非接口）执行sql语句的方法-->

<configuration>
  <!--当需要引用外部路径时,需要在标签内设置resource的值,properties必须在首,xml规定了顺序-->
  <!--url也可以使用文件协议的绝对路径
      file:///E:/Code/MyBatis_Project/MyBatis_Project_01_QuickStart/src/main/resources/jdbcConfig.properties-->
  <properties resource="jdbcConfig.properties">
    <!--可以在其中配置各项数据库的值property,则dataSource的value需要指向此处的name(driver).这里使用外部jdbcConfig-->
    <!--    <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
  </properties>

  <settings>
    <!--配置log4j-->
    <setting name="logImpl" value="LOG4J2"/>

    <!--基于注解开启二级缓存的步骤：
        1.在config.xml中,开启mybatis框架对二级缓存的支持--><!--开启全局mapper的缓存设置，默认为true-->
    <!--2.在需要开启的dao类中@CacheNamespace(blocking = true)   （默认为false）-->
    <setting name="cacheEnabled" value="true"/>
  </settings>

  <!--设置别名,为mapper.xml提供功能-->
  <typeAliases>
    <!--typeAlias对应单个javabean,type为Javabean的全类名,alias为别名(不区分大小写)-->
    <typeAlias type="com.example.mybatis.quickstart.entity.User" alias="user"/>

    <!--或者扫描整个包内的JavaBean,别名默认为JavaBean的非限定类名(不区分大小写)(较常用)-->
    <package name="account"/>
  </typeAliases>


  <!--配置环境-->
  <!--此处default可自由定义名称，但必须与下方environment id相同-->
  <environments default="mysql">
    <!--配置mysql数据库环境-->
    <environment id="mysql">
      <!--配置事务类型-->
      <transactionManager type="JDBC"/>
      <!--配置连接池-->
      <dataSource type="POOLED">
<!--        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/mybatis?serverTimezone=UTC"/>-->
<!--        <property name="username" value="root"/>-->
<!--        <property name="password" value="111111"/>-->

        <!--也可以调用外部资源,需要在<configuration>下配置<properties>,-->
        <!--name映射的时mybatis中的key,value使用ognl表达式${}映射mysql的key-->
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>

  <!--指定映射配置文件位置-->
  <mappers>
    <mapper resource="mapper/mybatisMapperByDynamicQuery.xml"/>
  </mappers>
</configuration>